<h1>The Pirate!</h1>

    <h3>Name: <%= @pirate.name %><br>
    <h3>Weight: <%= @pirate.weight %><br>
    <h3>Height: <%= @pirate.height %><br>

<h2>Ship Number 1</h2>
    <h3>Name: <%= @ships[0].name %><br>
    <h3>Type: <%= @ships[0].type %><br>
    <h3>Booty: <%= @ships[0].booty %><br>
<h2>Ship Number 2</h2>
     <h3>Name: <%= @ships[1].name %><br>
    <h3>Type: <%= @ships[1].type %><br>
    <h3>Booty: <%= @ships[1].booty %><br>
